*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
  body{
    /* background: linear-gradient(30deg,#D279EE,#f8c390); */
    background: linear-gradient(30deg,#a406d4,#ee7503);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .container{
    background-color: white;
    height: 80vh;
    width: 80vw;
    display: flex;
    margin:80px auto;
    border-radius: 10px;
    overflow: hidden;
  }
  .myDiv1{
    width:40vw;
    height: 80vh;
    background-image: url("../images/forgotimg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 100px auto;
   
  }
  .fwrap1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 110px;
    
  }
  .form_1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  .fwrap2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 100px 110px;
    align-items: center;
  }
  .form_2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  .s1{
    
    font-weight: bold;
    font-size: 22px;
  
  }
  .s2{
    font-size: 12px;
    color: gray;
  }
  input{
  width: 250px;
  height: 30px;
  }
  input[type="submit"]
  {
    color: white;
    font-weight: bold;
    font-size: 13px;
    background-color:rgb(4,44,154);
    width: 40%;
    height: 30px;
    margin-left: 30%;
    border: 1px solid rgb(4,44,154);
    border-radius: 5px;
    transition: 0.2s;
  
  
  }
  .myDiv2{
    /* background: #bba7c9; */
   
    height: 80vh;
    width: 40vw;
  }
  input[type="submit"]:hover{
    color: rgb(4, 44, 154);
    background-color: white;
    border: 1px solid rgb(4, 44, 154);
    transition: 0.2s;
    cursor: pointer;
  
  }